body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: darkgoldenrod;
}

.quem-somos{
    background-color: darkgreen;
    color: white;
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: aqua;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}